.weather-wrap{
	width: 100%;

	.weather-grid{
		display: flex;
				flex-direction: column;
				height: 100vh; /* 전체 화면 높이 */

		.weather-grid-item{
			&:first-child{
				margin-bottom: auto;
			}
			


		}
	}
}