@use 'design-system' as DS;
@use 'base-system' as BS;

.weather{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.weather-location {
		margin-bottom: 20px;
	}

	.weather-wrap{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 16px;

		.weather-item{
			// background: #f4f4f4;
			padding: 12px;
			text-align: center;
			border-radius: 5px;
			box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
			border: 1px solid #f4f4f4;
			&:first-child{
				color: rgb(0, 123, 255);
			}

			.weather-date{
				display: flex;
				flex-direction: column;
				gap: 4px;
			}

			.sky-icon{
				width: 80px;
				height: 80px;
				margin: 20px auto;
				background: #f4f4f4;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
			}
			.sky-value{

			}
		}
	}
}