@use 'reset';
@use 'base-system' as BS;
@import 'design-system';
@import 'keyframs';
@import 'browser-custom';

// Deafult Styles
html { 
	scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: BS.$font-family;
	font-size: 16px;
	height: 100vh;
	background-color: #f8f9fa;
}
// Deafult Font Styles
*{
	font-family: BS.$font-family;
	// font-size: 16px;
}
#root{
	display: flex;
  flex-direction: column;
	height: auto;
	min-height: 100vh;
}
// Deafult button Design
.btn {
	background-color: transparent;
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	color: BS.$color-typo-333;
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.25rem;
	padding: .4rem .8rem;
	
	text-align: center;
	text-decoration: none #D1D5DB solid;
	text-decoration-thickness: auto;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;

	&:hover {
		background-color: BS.$color-primary-hover;
	}
	
	&:focus {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
	
	&:focus-visible {
		box-shadow: none;
	}
}

// h1, h2, h3, h4, h5, h6 {
h1{
	font-size: 3rem;
	@include BS.font-weight('bold');
}
h2{
	font-size: 2.5rem;
	@include BS.font-weight('semi-bold');
}
h3{
	font-size: 2rem;
	@include BS.font-weight('medium');
}
h4{
	font-size: 1.5rem;
	@include BS.font-weight('medium');
}
h5{
	font-size: 1.25rem;
	@include BS.font-weight('regular');
}
h6{
	font-size: 1rem;
	@include BS.font-weight('regular');
}

.dashed{
	&::after{
		content: '—';
		font-weight: 300;
		padding: 0px 8px;	
	}
}

.right-double-arrow{
	&::after{
		content: '»';
		font-weight: 300;
		padding: 0px 8px;	
	}
}

.hide{
	display: none;
}

.show{
	display: block;
}

// Header Styles
.app-header{
	width: 100%;
	height: 80px;
	padding: 0 20px;
	background-color: rgba(255, 255, 255, 0.8);
	// border-bottom: 1px solid #e9ecef;

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: sticky;
	top: 0;
	z-index: 9999;

	h1{
		font-size: unset;
		display: flex;
		align-items: center;
		gap: 4px;
		.server-status{
			display: flex;
			align-items: center;
		}
	}

	.showboxs-title{
		font-size: 1.6rem;
		font-weight: 600;
		a{
			display: flex;
			align-items: center;
			height: 100%;
			font-size: 1.6rem;
			&:hover{
				color: BS.$color-primary;	
			}
		}
	}
}

.app-body{
	padding: 20px;	
	flex: 1;

	background-color: #fff;

	&.experience{
		background-color: #f8f9fa;
	}
	&.talk{
		background-color: #101528;
		position: relative;	
	}
}

// about Styles
.about{
	padding: 20px 60px;
	.panel-wrap{
		display: flex;
		gap: 40px;
		justify-content: space-between;
		.panel-left{
			width: 40%;
			position: relative;
			.panel-left-wrap{
				position: sticky;
				top: 120px;
				
				>*{
					margin-bottom: 20px;
				}
			}

			.about-me-img{
				width: 100%;
				height: 80px;

				img{
					width: 100%;
					height: 100%;
					object-fit: cover; /* 이미지 커버 설정 */
					border-radius: 8px;
				}
			}

			.introduce{
				display: flex;
				flex-direction: column;
				gap: 8px;
				margin-bottom: 20px;
				.title{

				}
				.sub-title{
	
				}
			}

			.detail{
				display: flex;
				flex-direction: column;
				gap: 8px;

				.option{
					&::before{
						content: '🔹';
						margin: 0 4px;
					}
					&::after{
						content: ':';
						padding: 0 4px;
					}
				}
			}
		}

		.panel-right{
			width: 60%;

			.section{
				border-radius: 8px;
				&:not(:last-child){
					margin-bottom: 40px;
				}
				&:nth-child(odd){
					// padding: 20px;
					// background-color: #f8f9fa;
				}
				&:nth-child(even){
					// background-color: #fff;
				}
				.title{
					font-size: 1.5rem;
					font-weight: 600;
					margin-bottom: 20px;
					display: flex;
					align-items: center;
					gap: 8px;

					&::before{
						content: '🔹';
					}
				}


				// I Can Do It
				&:nth-of-type(2) {
					.detail {
						display: grid;
						gap: 8px;
				
						> li {
							border: 1px solid #e9ecef;
							border-radius: 8px;
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 20px;
							height: 200px;
							.front {
								width: 100%;
								display: flex;
								align-items: center;
								svg{
									flex: 1 1 20%;
								}
								h4 {
									flex: 1 1 60%;
									font-size: 1.25rem;
									font-weight: 600;
								}
				
								&::after {
									content: '👆';
									flex: 1 1 20px;
									margin-left: auto;
									font-size: 1.25rem;
									font-weight: 600;
								}
							}
				
							.back {
								width: 100%;
								display: flex; /* 블록 요소로 설정 */
								align-items: center;
								justify-content: space-between;
								gap: 20px;

								h4 {
									text-align: center;
									word-break: keep-all;
									flex: 1 1 20%;
								}

								.back-detail{
									flex: 1 1 70%;
									.back-comment{
										margin-bottom: 20px;
									}
									.back-skills {
										display: flex;
										flex-direction: column;
										gap: 8px;
										.wrap{
											display: flex;
											flex-wrap: wrap;
											gap: 8px;
										}
										h5 {
											font-size: 0.875rem;
											border-radius: 4px;
											padding: 4px 8px;
											background-color: rgb(77, 77, 77);
											color: #fff;
											min-width: 80px;
											display: flex;
											align-items: center;
											justify-content: center;
										}
					
										ul {
											display: flex;
											align-items: center;
											gap: 8px;

											.logo{
												// width: 24px;
												height: 24px;
												img{
													// width: 100%;
													height: 100%;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// Talk Styles
.talk{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
  color: #fff; // 기본 글자 색을 흰색으로 설정
  // 하위 요소들에 대한 스타일
  & * {
    color: inherit; // 상위 요소의 색상을 상속받도록 설정
  }
	
	.btn-wrap{
		display: flex;
		justify-content: center;
		align-items: center;

		li{
			&:not(:last-child){
				margin-right: 20px;
			}
			&:last-child{
				margin-right: 0;
			}
		}
		.btn{
			border: 1px solid #fff;
			color: BS.$color-typo-fff;
			font-size: 1.5rem;
			font-weight: 600;
			padding: 24px 48px;
			opacity: 0.8;
			transition: 0.3s all ease;
			&:hover{
				background-color: BS.$color-primary-hover;
				opacity: 1;
			}
			&[disabled]{
				opacity: 0.25;
				cursor: not-allowed;
				&:hover{
					background-color: transparent;
				}
			}
		}
	}

	.talk-wrap{
		text-align: center;
		width: 60%;
		height: 100%;
		padding: 40px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
		align-items: center;

		.talk-body{
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&.quick{
				.question{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					
					background-color: #101528;
					color: BS.$color-typo-fff;
		
					margin-top: 40px;
					li {
						margin-top: 14px;
						&:not(:last-child){
							margin-right: 14px;
						}
						
						button{
							font-size: 0.875rem;
							padding: 14px;			
							border: 1px solid #fff;
							border-radius: 8px;
							
							&:hover{
								background-color: BS.$color-primary-hover;
								transform: translateY(-4px);
								transition: 0.3s all ease;
							}
						}	
					}	
				}
	
				.answer{				
					&.hide{
						display: none;
					}
					&.show{
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						
						margin-top: 40px;
						padding: 40px;
						border-radius: 16px;
		
						background-color: #ffd200;				
						color: #101528;	
						&.fadeInUp{	
							animation: fadeInUp 1s ease-out;
							will-change: transform, opacity;
						}
					}
				}
			}

			&.free{
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
	
				.talk-body-title{
					p{
						padding-bottom: 0px;
					}
				}
	
				.talk-body-chat{
					width: 80vw;
					height: 0px;
					// padding-bottom: 10px;
					margin: 20px 0;
					opacity: 0;
				}
	
				&.active{
					.talk-body-chat{
						height: 37vh;
						opacity: 1;
						transition : height 3s ease, width 3s ease, opacity 3s ease;
	
						overflow: hidden;
						overflow-y: auto;
		
						.talk-body-chat-message{
							display: flex;
							padding: 12px;
							border: 1px solid #555555;
							border-radius: 4px;
							background-color: #1a1a2e;
							position: relative;
							width: 846px;
							transition: none;
	
							@keyframes expand {
								from {
									width: 100%;
								}
	
								to {
									width: calc(100% - 100px);
								}
							}
	
							@keyframes collapse {
								from {
									width: calc(100% - 100px);
								}
	
								to {
									width: 100%;
								}
							}
	
							&.hovered {
								animation: expand 0.3s ease forwards;
								}
						
								&.not-hovered {
								animation: collapse 0.3s ease forwards;
								}
	
							* {
								font-size: 0.75rem;
								display: flex;
								align-items: center;
								white-space: pre;
								line-height: 1rem;
							}
	
							&:not(:last-child){
								margin-bottom: 8px;
							}
	
							.talk-body-chat-message-actions {
								position: absolute;
								top: 0;
								right: -100px;
								height: 100%;
	
								display: flex;
								gap: 4px;
								justify-content: center;
								
								button{
									border: 1px solid #6f42c1;
									border-radius: 4px;
									width: 40px;
									padding: 4px;
									font-size: 0.75rem;
									display: flex;
									justify-content: center;
									align-items: center;
	
									&:hover{
										background-color: #6f42c1;
										color: #fff;
									}
								}
							}
	
							.talk-body-chat-message-id{
								margin-right: 40px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								
							}
							.talk-body-chat-message-text{
								text-align: left;
							}
	
							.talk-body-chat-message-idx    {flex: 0 0 40px;}
							.talk-body-chat-message-id     {flex: 0 0 40px;}
							.talk-body-chat-message-text   {flex: 1 1 auto;}
							.talk-body-chat-message-date   {flex: 0 0 40px;}
							.talk-body-chat-message-actions{width: 100px;}
						}
					}
				}			
	
				.talk-body-message{
					display: flex;
					flex-direction: column;
					align-items: center;
	
					.message-info{
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						margin-bottom: 8px;
	
						.message-id, .message-password{
							font-size: 0.875rem;
							width: 49%;
							padding: 8px;
							border: 1px solid #555555;
							border-radius: 4px;
							background-color: #1a1a2e;
						}
					}
					.message-text{
						display: flex;
						align-items: center;
						width: 100%;
						border: 1px solid #6f42c1;
						border-radius: 4px;
						background-color: #1a1a2e;
						color: #fff;
						padding: 4px;	
	
						.message-input {
							width: 100%;
							background-color: transparent;
							border:0;
							resize: none;
							padding: 4px;
							padding-right: 40px;
		
							height: 2rem;
							max-height: 300px; /* 최대 높이를 설정하여 너무 커지는 것을 방지 */
							
							line-height: 1.5; /* 줄 높이를 설정 */
		
							border: none;
							overflow: hidden;
							outline: none;
					
							-webkit-box-shadow: none;
							-moz-box-shadow: none;
							box-shadow: none;
					
							resize: none;
	
							white-space: pre;
							line-height: 1rem;
						}
						
						.send-button {
							display: flex;
							align-items: center;
		
							cursor: pointer;
							
							transition: 0.3s all ease;
							opacity: 0.8;
		
							&:hover {
								color: #27c8e1;
								opacity: 1;
							}
						}
					}
				}
			}
		}
		

		

		.move{
			display: flex;
			justify-content: center;
			align-items: center;

			position: absolute; // 고정 위치로 설정
			bottom: 20px;
			
			opacity: 0.7;
			transition: 0.3s all ease;
			&:hover{
				opacity: 1;
				transform: scale(1.05);
			}
		}
	}
}


// Projects Styles
.projects{
	// display: grid;
	// grid-template-columns: repeat(4, 1fr); /* 4개의 열을 생성 */
	// gap: 10px; /* 아이템 간의 간격 */
	// align-items: start;

}

.app-footer{
	position: static;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 60px;
	background-color: BS.$color-dark;
	color: BS.$color-typo-fff;

	*{
		@include BS.font-weight('light');
		@include BS.font-size('md');
	}

	.footer-link{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		li{
			margin-right: 8px;
			&:not(:last-child)::after{
				content: '|';
				margin-left: 8px;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
	p{
		margin-top: 8px;
	}
}

// Nav Styles
.nav{
	width: 90%;
	ul{
		display: flex;
		justify-content: center;
		align-items: center;

		li{
			margin-right: 20px;
			&:not(:last-child){
				margin-right: 20px;
			}
			&:last-child{
				margin-right: 0;
			}
			a{
				@include BS.font-size('md'); // 1.5rem (24px)

				&:hover{
					transform: scale(1.1);
				}
			}
		}	
	}
}

// UserTab Styles
.user-tab{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
	height: 80px;
	
	.circle-icon{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #d9d9d9;
		color: BS.$color-typo-fff;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.6rem;

		&:hover{
			cursor: pointer;
		}
	}

	.user-panel{
		position: fixed;
		z-index: 9999;
		top: 0;
		right: -240px; // -> 0px
		transition: right 0.3s;

		width: 240px;
		height: 100vh;

		background-color: #fff;

		display: flex;
		flex-direction: column;

		box-shadow: 0 2px 8px rgba(0,0,0,0.1);
		
		>div{
			display: flex;
			align-items: center;
			padding: 16px;
			&:not(:last-child){
				border-bottom: 1px solid #e9ecef;
			}
			&:not(:first-child):hover{
				cursor: pointer;
			}
			// 첫번째와 마지막 요소 제외하고 hover 효과 주기
			&:not(:first-child):not(:last-child):hover {
				background-color: rgba(197, 226, 255, 0.3);
			}
		}
		
		.user-panel-top{
			display: flex;
			align-items: center;
			.user-name{
				margin-left: 12px;
				font-weight: 600;
			}
			
		}

		.user-panel-bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 16px;
			border-top: 1px solid #e9ecef;
			background-color: BS.$color-typo-333;
			color: BS.$color-typo-fff;

			.user-panel-option__logout{
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				font-weight: 400;
			}

			.user-panel-option__logout:hover{
				cursor: pointer;
				opacity: 0.8;
			}

			
		}
	}


}
