@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  height: 100vh;
  background-color: #f8f9fa;
}

* {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
}

.btn {
  background-color: #FFFFFF;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333333;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.4rem 0.8rem;
  text-align: center;
  -webkit-text-decoration: none #D1D5DB solid;
          text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn:hover {
  background-color: rgba(0, 123, 255, 0.1);
}
.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.btn:focus-visible {
  box-shadow: none;
}

.showboxs-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.App-header {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.App-header h1 {
  height: 100%;
}
.App-header a {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.6rem;
}
.App-header a:hover {
  color: #007bff;
}

.App-body {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4개의 열을 생성 */
  gap: 10px; /* 아이템 간의 간격 */
  align-items: start;
}
.App-body .App-body__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.App-body .App-body__section .section-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.App-body .App-body__section .section-link.on {
  background-color: #fff;
  color: #333333;
}
.App-body .App-body__section .section-link.on:hover {
  cursor: pointer;
  transition: 0.2s all ease;
  background-color: #007bff;
  color: #ffffff;
}
.App-body .App-body__section .section-link.off {
  background-color: #f8f9fa;
  color: #cccccc;
}
.App-body .App-body__section .section-dec {
  width: 100%;
  margin-top: 8px;
  padding: 4px;
  font-size: 0.875rem;
}
.App-body .App-body__section .section-dec > li {
  display: flex;
  flex-direction: column;
}
.App-body .App-body__section .section-dec > li:not(:last-child) {
  margin-bottom: 8px;
}
.App-body .App-body__section .section-dec > li .section-dec-title {
  width: -moz-max-content;
  width: max-content;
  background-color: #333;
  color: #ffffff;
  border-radius: 4px;
  padding: 4px 8px 4px 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.App-footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 140px;
  background-color: #343a40;
  color: #ffffff;
}
.App-footer * {
  font-weight: 300;
  font-size: 0.875rem;
}
.App-footer .footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.App-footer .footer-link li {
  margin-right: 8px;
}
.App-footer .footer-link li:not(:last-child)::after {
  content: "|";
  margin-left: 8px;
}
.App-footer .footer-link li:last-child {
  margin-right: 0;
}
.App-footer p {
  margin-top: 8px;
}

.user-tab {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.user-tab .circle-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.user-tab .circle-icon:hover {
  cursor: pointer;
}
.user-tab .user-panel {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: -240px;
  transition: right 0.3s;
  width: 240px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.user-tab .user-panel > div {
  display: flex;
  align-items: center;
  padding: 16px;
}
.user-tab .user-panel > div:not(:last-child) {
  border-bottom: 1px solid #e9ecef;
}
.user-tab .user-panel > div:not(:first-child):hover {
  cursor: pointer;
}
.user-tab .user-panel > div:not(:first-child):not(:last-child):hover {
  background-color: rgba(197, 226, 255, 0.3);
}
.user-tab .user-panel .user-panel-top {
  display: flex;
  align-items: center;
}
.user-tab .user-panel .user-panel-top .user-name {
  margin-left: 12px;
  font-weight: 600;
}
.user-tab .user-panel .user-panel-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  border-top: 1px solid #e9ecef;
  background-color: #333333;
  color: #ffffff;
}
.user-tab .user-panel .user-panel-bottom .user-panel-option__logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 400;
}
.user-tab .user-panel .user-panel-bottom .user-panel-option__logout:hover {
  cursor: pointer;
  opacity: 0.8;
}/*# sourceMappingURL=common.css.map */